<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="kr.co.wisetracker" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>WiseTrackerCordovaBridge</name>
    <js-module name="WiseTrackerCordovaBridge" src="www/WiseTrackerCordovaBridge.js">
        <clobbers target="cordova.plugins.WiseTrackerCordovaBridge" />
    </js-module>

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="WiseTrackerBridge">
                <param name="android-package" value="kr.co.wisetracker.tracker.WiseTrackerBridge" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />/>
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">

            <receiver android:name="kr.co.wisetracker.insight.receiver.InsightReceiver"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_ADDED" />
                    <action android:name="android.intent.action.PACKAGE_CHANGED" />
                    <action android:name="android.intent.action.PACKAGE_REPLACED" />
                    <data android:scheme="package" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER" />
                </intent-filter>
                <intent-filter android:exported="true">
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>

            <service android:name="kr.co.wisetracker.insight.job.WisetrackerJob"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
                </intent-filter>
            </service>

            <service android:name="kr.co.wisetracker.insight.service.InsightService"
                android:enabled="true">
                <intent-filter>
                    <action
                        android:name="kr.co.wisetracker.insight.lib.StaticValues.START_SERVICE" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
                <intent-filter>
                    <action android:name="wisetracker.intent.action.ACTIVATE_ALARM" />
                </intent-filter>
                <intent-filter android:exported="false">
                    <action android:name="SEND_ALARM" />
                </intent-filter>
            </service>

            <!--  딥링크 진입 액티비티 선언 -->
            <activity android:name="kr.co.wisetracker.tracker.DeepLinkActivity"
                android:launchMode="singleTop" >
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <!-- 딥링크로 진입될 스키마와 호스트 정보 입력 -->
                    <data android:host="YOUR_HOST"
                        android:scheme="YOUR_SCHEME" />
                </intent-filter>
            </activity>

            <!-- 개발용 true 배포용 false 권장 -->
            <meta-data
                android:name="WiseTrackerLogState"
                android:value="true" />

            <!--  발급 받은 AppKey meta-data 추가 -->
            <meta-data
                android:name="WiseTrackerKey"
                android:value="JQMAAB+LCAAAAAAAAACFk9tu4jAQhu/3KZAfgJzIUq1CerEgLdvGakt2peSmMmYIhjiOxk4Lefo6NFKhFfRqPP6/Gf8+Rbd7WQ5eALVQ1YR4Q5fcxj8iBK0a5KDtWBsUVTGomIQJMbj7o7Qh8caY+pfj2Hz4KjQYZHwHOORquMPIea/5XMzq+g4OJKbto09T3tp4yNN8R2XmJ9sspDKx839L2to4zUUi/wW0tfNdnnKXtnM/SbOWynmXH6zuJ20uu5htj3mQtJnb6yO6nfn5lL8e+z5OJpd8bZjeHI2Nxt465MvRsxeGwfjnOLwJA290qUxwWaeHGkg8//3gusEJJyoDBWAP8kZTRWLPdSOnV74w9mwWgC+CwzvqX0dLZTru5jKFYBqs/gstzJQZa7LbyGV4DYiAs30tEL7njZCAJA5PiaVSZS+vYNkUiS5IvGalhsjptHOk0fAEBipj3x2JDTYf1PlSK2bYAqpVolbW1JVjkWxvjbN7sYbU2rPslQ30cNf4HqrCbCx+djvOyRd4A7wTPZ8lAwAA" />

        </config-file>

        <source-file src="src/android/WiseTrackerBridge.java"
            target-dir="src/kr/co/wisetracker/tracker" />
        <source-file src="src/android/DeepLinkActivity.java"
            target-dir="src/kr/co/wisetracker/tracker" />
        <framework custom="true" src="src/android/plugin.gradle" type="gradleReference" />

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="WiseTrackerBridge">
                <param name="ios-package" value="WiseTrackerBridge" />
            </feature>
        </config-file>
        <source-file src="src/ios/WiseTrackerBridge.m" />
        <source-file src="src/ios/WiseTrackerBridge.h" />
        <source-file src="src/ios/WiseTracker.framework" />
    </platform>

</plugin>
